# Python Basics

## When to use Python?

Python is a pretty versatile language. It is useful, for instance, for the following applications:
* Quick calculations
* Develop a database-driven website
* Clean and analyze results of a satisfaction survey

## Comments

We can add **comments** to our Python scripts. Comments are important to make sure that you and others can understand what your code is about.

To add comments to our Python script, we can use the `#` tag. These comments are not run as Python code, so they will not influence our result.

In [1]:
# Just testing adition
print("7 + 10 = {}".format(7 + 10))

# Trying subtraction
print("18 - 15 = {}".format(18 - 15))

# Multiplication works
print("13 * 5 = {}".format(13 * 5))

# Addition works too
print("5 / 8 = {}".format(5 / 8))

7 + 10 = 17
18 - 15 = 3
13 * 5 = 65
5 / 8 = 0

## Python as a calculator

Python is perfectly suited to do basic calculations. Apart from addition, subtraction, multiplication and division, there is also support for more advanced operations such as:
* Exponentiation: `**`. This operator raises the number to its left to the power of the number to its right. For example `4 ** 2` will give `16`.
* Modulo: `%`. This operator returns the remainder of the division of the number to the left by the number on its right. For example `18 % 7` equals `4`.

In [2]:
# Exponentiation
print("4 ** 2 = {}".format(4 ** 2))

# Modulo
print("18 % 7 = {}".format(18 % 7))

4 ** 2 = 16
18 % 7 = 4

Suppose we have $100, which we can invest with a 10% return each year.
* After one year, it's 100 x 1.1 = 110 dollars.
* After two years it's 100 x 1.1 x 1.1 = 121 dollars.

We can calculate how much money we end up with after seven years as follows:

In [3]:
# Amount after seven years
amount = round(100 * (1.1 ** 7), 2)
print(str(amount) + " dollars")

194.87 dollars

## Variable assignment

In Python, a variable allows us to refer to a value with a name. To create a variable, we use `=`, like this example:

`x = 5`

We can now use the name of this variable, `x`, instead of the actual value, `5`.

**Remember:** `=` in Python means *assignment*, not equality!

In [4]:
# Create a variable savings and assigns 100 to it
savings = 100

# Print out savings
print(savings)

100

## Calculations with variables

Instead of calculating with values, we can use variables instead.

In [5]:
# Create a variable factor and assigns 1.1 to it
factor = 1.1

# Calculate how much money we end up with after five years
result = round(savings * (factor ** 5), 2)
print(result)

161.05

## Some variable types

* `int`, or integer: a number wothout a fractional part. `savings`, with the value of `100` is an example of an integer.
* `float`, or floating point: a number that has both an integer and a fractional part, separated by a point. `factor`, with the value of `1.1` is an example a float.
* `str`, or string: a type to represent text. We can use single or double quotes to build a string.
* `bool`, or boolean: a type to represent logical values. Can only be `True` or `False` (the capitalization is important).

In [6]:
# An example of an integer
integer_example = 10
print("An example of an integer: {}".format(integer_example))

# An example of a float
float_example = 1.25
print("An example of a float: {}".format(float_example))

# An example of a string
string_example = 'This is a string!'
print("An example of a string: {}".format(string_example))

# An example of a boolean
boolean_example = True
print("An example of a boolean: {}".format(boolean_example))

An example of an integer: 10
An example of a float: 1.25
An example of a string: This is a string!
An example of a boolean: True

To find out the type of a value or a variable that refers to that value, we can use the `type()` function. Suppose we have defined a variable `a`, but we forgot the type of this variable. To determine the type of `a`, we can simply execute `type(a)`.

In [7]:
print(type(integer_example))
print(type(float_example))
print(type(string_example))
print(type(boolean_example))

<type 'int'>
<type 'float'>
<type 'str'>
<type 'bool'>

## Operations with different types

Different types behave differently in Python. When we sum two strings, for example, we'll get different behavior than when we sum two integers or two booleans.

In [8]:
# Variables to work with
savings = 100
factor = 1.1
desc = "compound interest"

# Assign product of factor and savings to year1 and print its type
year1 = factor * savings
print(type(year1))

# Assign sum of desc and desc to doubledesc and print it
doubledesc = desc + desc
print(doubledesc)

<type 'float'>
compound interestcompound interest

## Type conversation

Using the `+` operator to paste together two strings can be very useful in building custom messages.

Suppose, for example, that we've calculated the return of our investment and want to summarize the results in a string. Assuming the floats `savings` and `result` are defined, we can try:

In [9]:
print("I started with $" + savings + " and now have $" + result + ". Awesome!")

TypeError: cannot concatenate 'str' and 'int' objects

This does not work, though, as we cannot simply sum strings and floats.

To fix the error, we'll need to explicitly convert the types of our variables. More specifically, we'll need `str()` to convert a value to a string. `str(savings)`, for example, will convert the float `savings` to a string.

Similar functions such as `int()`,  `float()` and `bool()` will help you convert Python values into any type.

In [10]:
# Fix the printout
print("I started with $" + str(savings) + "  and now have $" + str(result) + ". Awesome!")

I started with $100  and now have $161.05. Awesome!

# Python Lists

## Create a list

As opposed to `int`, `bool` etc., a list is a **compound data type**; you can group values together.

After measuring the height of your family, you decide to collect some information on the house you're living in. The areas of the different parts of the house are stored in separate variables for now, as shown below:

In [11]:
# Area variables in square meters
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

## Create list with different types

A lit can contain any Python type. Although it's not really common, a list can also contain a mix of Python types including strings, floats, booleans, etc.

The printout of the previous code cell wasn't really satisfying. It's just a list of numbers representing the areas, but we can't tell which area corresponds to which part of the house. 

The code below is the start of a solution:

In [12]:
# The beginning of a solution
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

## List of lists

As a data scientist, you'll often be dealing with a lot of data, and it will make sense to group some of this data.

Instead of creating a flat list containing strings and floats, representing the names and areas of the rooms in the house, we can create a list of lists. The code below can already give us an idea:

In [13]:
# House information as a list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print house
print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

## Subset and conquer

Subsetting Python lists is a piece of cake. The code below, for example, creates a list `x` and than selects "b" from it. Notice that this is the second element, so it has index 1, and we can also use negative indexing.

In [14]:
# Create list x
x = ["a", "b", "c", "d"]

# Print second element of x
print(x[1])

# Print second element of x using negative indexing
print(x[-3])

b
b

Using the first `areas` list, that contains both strings and floats, we'll do some subsetting in the code cell below:

In [15]:
# Definition of areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print second element from areas
print(areas[1])

# Print last element from areas using negative indexing
print(areas[-1])

# Print the area of the living room
print(areas[5])

11.25
9.5
20.0

## Subset and calculate

After we've extracted values from a list, we can use them to perform additional calculations.

The code cell below extracts the second and the fourth elements of x. The strings tha result are pasted together using the `+` operator.

In [16]:
# Print the sum of the second and the fourth element of x
print(x[1] + x[3])

bd

Now, using a combination of list subsetting and variable assignment, we'll create a new variable that contains the sum of the areas of the kitchen and the area of the bedroom:

In [17]:
# Create eat_sleep_area variable and print it
eat_sleep_area = areas[3] + areas[7]
print(eat_sleep_area)

28.75

## Slicing and dicing

Selecting single values from a list is just one part of the story. It's also possible to *slice* a list, which means selecting multiple elements of it, using the following sintax: `my_list[start:end]`. The `start` index will be included, while the `end` index will *not*.

The code cell below show an example. A list with `b` and `c`, corresponding to indexes 1 and 2, is selected from x. Notice that the elements with index 1 and 2 are included, while the element with index 3 is not.

In [18]:
print(x[1:3])

['b', 'c']

It's also possible not to specify where to begin and end the slice of the list. If we don't specify the `begin` index, Python figures out that we want to start our slice at the beginning of the list. If we don't specify the `end` index, whe slice will go all the way to the last element of the list.

Below, we'll use slicing to create both downstairs and upstairs lists from areas list:

In [19]:
# Create and print downstairs, that contains the first 6 elements of areas
downstairs = areas[:6]
print(downstairs)

# Create and print upstairs, that contains the last 6 elements of areas
upstairs = areas[6:]
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

## Subsetting lists of lists

We saw before that a Python list can contain pratically anything, even other lists. To subset lists of lists, we can use the same technique as before: square brackets.

In [20]:
# Define x
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]

# Examples of subsetting x
print(x[2][0])
print(x[2][:2])

g
['g', 'h']

Using the house list of lists again, `house[-1][1]` will return the bathroom area:

In [21]:
# Define house as a list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Subset house
print(house[-1][1])

9.5

## Replace list elements

Replacing list elements is pretty easy. Simply subset the list and assign new values to the subset. We can select single elements or we can change entire list slices at once:

In [22]:
# Create and print x
x = ["a", "b", "c", "d"]
print(x)

# Replace some elements and print x
x[1] = "r"
x[2:] = ["s", "t"]
print(x)

['a', 'b', 'c', 'd']
['a', 'r', 's', 't']

Below, we will replace elements in the `areas` list.

In [24]:
# Create areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Replace bathroom area
areas[-1] = 10.50

# Replace living room description
areas[4] = "chill zone"

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

## Extend a list

We can use the `+` operator to add elements to a list.

In [25]:
# Create x
x = ["a", "b", "c", "d"]

# Extends x
x = x + ["e", "f"]

# Print x
print(x)

['a', 'b', 'c', 'd', 'e', 'f']

Below, we will add poolhouse and garage to the areas list:

In [28]:
# Print areas
print(areas)

# Extends areas list
areas = areas + ["poolhouse", 24.5, "garage", 15.45]

# Print areas (extedend)
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

## Delete list elements

We can use `del` statement to remove elements from a list. Notice that as soon as we remove an element from a list, the indexes of the elements that come after the deleted element all change.

In [29]:
# Create x
x = ["a", "b", "c", "d"]

# Remove the second element of x
del(x[1])

# Print x
print(x)

['a', 'c', 'd']

Suppose we don't have a poolhouse. We can delete it from our areas list as follows:

In [30]:
# Print areas
print(areas)

# Remove poolhouse from the list
del(areas[-4])
del(areas[-3])

# Print areas (after deleting poolhouse and its area)
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

## Inner working of lists